body {
  background-color: #c1f75e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  text-align: center;
}

button {
  background-color: rgb(221, 19, 19);
  border-radius: 120px 120px 120px 120px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: -70px 20px 20px;
}

.timer-container h2 {
  margin: 0;
}

.actions-wrapper span {
  font-size: 40px;
  margin: 0 10px;
  width: 40px;
}

.clock-container {
  width: 400px;
  height: 200px;
  border-radius: 30px 30px 30px 30px;
  border: 10px solid rgb(239, 247, 198);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.clock-container span {
  font-size: 70px;
}

.clock-container h1 {
  margin: 0;
}
.topic-int p{
  font-size: 70px;
}
